<h1>Listing players</h1>

<table id="players" class="display" data-source="<%=players_url(format: "json") %>">
	<thead>
		<tr>
			<th>Surname</th>
			<th>Given name</th>
			<th>AVG</th>
			<th>HR</th>
			<th>RBI</th>
			<th>RUNS</th>
			<th>SB</th>
			<th>OBP</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>